# We don't need to sync these...

Package Control.ca-certs/
Package Control.cache/
Package Control.ca-bundle
Package Control.ca-list
Package Control.last-run
Package Control.system-ca-bundle

# These files contain sensitive data, such as access tokens, etc.

Gist.sublime-settings
GitHub.sublime-settings
